body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-size: auto;
  background-color: #7a99c4;;
}



textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #8e8ebb;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #0a2851;
  color: #fff;
  text-decoration: line-through;
}

.present {
  background-color: #7ac4ba;
  color: #000;
  font-weight: bold;
}

.future {
  background-color: #7499c4;
  color: #000;
}

.saveBtn {
  border-radius: 15px;
  background-color: #315280;
  color: #fff;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


.footer-blue {
  width: 100%;
  text-align: center;
  padding-bottom: .25rem;
  background-color: #7a99c4;
  color: #5d87c4;
}